* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css);

.base_wrapper { }
.width_container { width:90vw; margin:0 auto; }

#header{ width:230px; height: 330px; top: 5%; position: relative; display: block; margin: auto; vertical-align: top; }
#header .moon { width: 230px; position: fixed; top: 5%; left: 0; right: 0; margin: 0 auto; }
#header .moon a { position: absolute; display:block; line-height:52px; overflow:hidden; text-indent:-2000em; }
#header .moon img { width: 250px; height: auto; }

body {
  background: url(images/fundo_final.jpg);
  padding-bottom: 0;
  /*max-height: 4280px; */
  max-width: 100vw; }
  body ul {
    position: fixed; }
    body ul .stars {
      position: relative;
      width: 100vw; }
      body ul .stars li img {
        width: 100%;
        height: auto; }

.content {
  width: 800px;
  min-height: 3500px;
  margin: 0 auto;
  position: relative; 
}
.planets {
    top: 930px;
    position: relative;
    cursor: pointer;
    display: block; 
}
#planet5, #planet6, #planet7 {  
    width: 8%; 
    position: relative; 
}
.content .planets #planet6 {
    top: -60px;
}
    .content .planets #planet7 {
      top: 60px;
      left: 45px; }
    .content .planets #planet5 {
      top: -190px;
      left: 10px; }
    .content .planets .birth {
      position: relative;
      top: -100px;
      display: inline-block;
      width: 20%; }
      .content .planets .birth #planet2 {
        width: 100%; }
      .content .planets .birth #et1 {
        width: 130%;
        opacity: 0;
        z-index: 1;
        position: absolute;
        bottom: 100px;
        left: 25px; }
      .content .planets .birth:hover #et1 {
        opacity: 1; }
    .content .planets .english {
      display: inline-block;
      position: relative;
      width: 25%;
      top: 70px; }
      .content .planets .english #planet3 {
        width: 100%; }
      .content .planets .english #et2 {
        opacity: 0;
        right: -40px;
        bottom:160px;
        z-index: 1;
        position: absolute;
        width: 100%; }
      .content .planets .english:hover #et2 {
        opacity: 1; }
    .content .planets .cm {
      display: inline-block;
      position: relative;
      width: 25%;
      top: -30px; }
      .content .planets .cm #planet4 {
        width: 100%; }
      .content .planets .cm #et3 {
        opacity: 0;
        left: 0;
        bottom: 180px;
        position: absolute;
        width: 130%;
        z-index: 1; }
      .content .planets .cm:hover #et3 {
        opacity: 1; }


#trigger {
  position: relative; }
  #trigger #plane {
    position: absolute;
    left: -350px;
    top: 500px;
    width: 70px; }

.light {
  background-image: url(images/spaceshiplight.png);
  background-repeat: no-repeat;
  background-size: 240px;
  z-index: 3;
  top: 834px;
  left: 35%; }

#trigger2 {
  position: absolute;
  width: 640px;
  top: 1850px;
  left: 0; }
  #trigger2 #spaceship {
    width: 12%; }

#target2 {
  background-image: url(images/spaceship.png);
  background-repeat: no-repeat;
  background-size: 300px;
  height: 530px;
  left: -550px;
  position: relative;
  width: 490px; }

.skillsprog {
  position: relative;
  background-image: url(images/spaship_skills.png);
  background-repeat: no-repeat;
  background-size: 455px;
  background-position: 174px 102px;
  position: relative;
  width: 550px;
  height: 610px; }

.skills-prog {
  position: relative;
  top: 1080px;
  width: 60%; }
  .skills-prog img {
    width: 100%; }

.skills-software {
  position: relative;
  top: 1600px;
  width: 60%; }
  .skills-software img {
    width: 100%; }

.skills {
  left: -950px;
  top: 1700px;
  width: 100%;
  height: 100px;
  position: relative; }
  .skills img {
    width: 100%; }

.cometa {
  left: -972px;
  top: 550px;
  width: 60%;
  height: 100px;
  position: relative; }
  .cometa img {
    width: 100%; }

  #spaceshipme {
    position: relative;
    left: -300px;
    top:2000px;
    width: 25%; }
 
footer { height: 500px; position: relative; display:block;  }

.me {
  width: 160px;
  height: auto;
  bottom:-5px;
  position: absolute;
  left: 25%;
  z-index: 4; }
  .me img {
    width: 100%; }

 .interests {
    position: relative;
    width: 80%;
    margin: 0 auto;
    z-index:11;
  }

.interests li img {
     width: 350px; }

.interests #placa2 {
    right:20px!important; }

.earth {
  position: absolute;
  width: 100%;
  bottom:-15px;
  z-index: 0; }
  .earth img {
    width: 100%; }

.rocket {
  width: 370px;
  height: 600px;
  bottom:15px;
  position: absolute;
  right: 20%;
  z-index: 2; }
  .rocket img {
    width: 100%; }
  .rocket .buttons {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 0;
    bottom:0;
    width: 40px;
    height: 120px; }
    .rocket .buttons a { display: block; line-height: 40px; text-align: center; text-decoration: none;
      border: 2px solid white; border-radius: 50px; width: 40px; height: 40px; margin-top: 20px; cursor:pointer;}
    .rocket .buttons a::before {
      font-family: 'FontAwesome'; font-size: 19px; color: white; }
    .rocket .buttons a:hover {
      background-color:white; }
    .rocket .buttons a:hover::before {
      color:#9B5050; }

